html {
	box-sizing: border-box;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Bradley Hand", cursive;
}

.chat-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: auto;
}

.chat-header h1{
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: "lucida handwriting";
 color: #2B0F0E;
}

.chat-body{
  padding: 10px 0;
  height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-messages{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  background-color:  #9b3b00;
  max-width: 80%;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.bot{
  align-self: flex-start;
  width: fit-content;
}

.user{
  align-self: end;
  width: fit-content;
  margin-right: 5px;
}


#chat-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#chat-form input{
  flex: 1;
  padding: 10px;
  border: 1px solid #2B0F0E;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

#chat-form button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background:#2B0F0E;
  color: #fff;
  cursor: pointer;
  outline: none;
}
